.d-block{
  display: block !important;
}
.d-inline-block{
  display: inline-block !important;
}
.d-table{
  display: table !important;
}
.d-none{
  display: none !important;
}
.d-flex{
  display: flex !important;
}

.align-items-center{
  align-items: center;
}
.align-items-start{
  align-items: start;
}
.align-items-end{
  align-items: end;
}

.justify-content-start{
  justify-content: start;
}
.justify-content-end{
  justify-content: end;
}
.justify-content-bettween{
  justify-content: space-between;
}
.justify-content-center{
  justify-content: center;
}

.hide{
  display: none;
}
