.text-ss{
  font-size: 10px !important;
}
.text-sm{
  font-size: 11px !important;
}
.text-sl{
  font-size: 12px !important;
}
.text-ms{
  font-size: 13px !important;
}
.text-mm{
  font-size: 14px !important;
}
.text-ml{
  font-size: 15px !important;
}
.text-ls{
  font-size: 16px !important;
}
.text-lm{
  font-size: 18px !important;
}
.text-ll{
  font-size: 20px !important;
}
.text-xl{
  font-size: 24px !important;
}
.text-xxl{
  font-size: 32px !important;
}
.text-xxxl{
  font-size: 36px !important;
}

.text-left{
  text-align: left !important;
}
.text-right{
  text-align: right !important;
}
.text-center{
  text-align: center !important;
}

.font-weight-bold, .bold{
  font-weight: bold !important;
}
.font-weight-normal{
  font-weight: normal !important;
}
